    <% if flash[:errors]%>
    <div class = "row">
      <div class = "col-md-8 col-md-offset-2">
        <div class = "panel panel-danger">
          <div class = "panel-heading">
          <div class ="panel-body">
      <ul>
        <%flash[:errors].each do |error|%>
        <li><%=error%></li>
        <%end%>
       </ul>
       </div>
       </div>
       </div>
      </div>
      </div>
    <%end%>