    <% if flash[:errors]%>
    <div class = "row">
      <div class = "col-md-8 col-md-offset-2">
        <div class ="alert alert-danger" role="alert">
      <ul>
        <%flash[:errors].each do |error|%>
        <li><%=error%></li>
        <%end%>
       </ul>
       </div>
      </div>
      </div>
    <%end%>